body {background-color:black}
#caption {color: silver; margin: auto; width: 50%}
.photo  { display: block; margin: auto; width: 50%;}
.photo-tribal {width: 80%; border-color: silver; border-width: 3px; border-style: groove}
.photo-border {border-color: silver; border-width: 10px; border-style: groove;}
.text-list {font-family: gothica; color: white; font-size: 15px}
.list-angels {padding: 30px 20px 70px 30px;}
h1 {padding: 30px;
  margin: 30px;}
h1 {font-size: 50px; font-family: UnifrakturMaguntia, gothica; color: white}
h2 {padding: 10px 20px 30px 10px}
h2 {font-size: 30px; font-family: parisienne, gothica; color: white}
h3 {font-size: 20px; font-family: gothica; color: white; margin: 50px 30px 50px 10px}
h4 {font-size: 20px; font-family:  gothica; color: white; margin: 50px}
body {color: black;}
